<?php

$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable.core.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable-demos.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/bootstrap-glyphicons.css" );

$this->headScript()->appendFile('/snep/includes/javascript/scriptaculous/src/scriptaculous.js');
?>

<script src="/snep/includes/javascript/footable/footable.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.sort.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.filter.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.paginate.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/bootstrap-tab.js" type="text/javascript"></script>

<div class="row">
    
    <div class="tab-content">
        <div class="tab-pane active" id="demo">
            
            <div class="snep-body-top-buttons">
                <a class="btn btn-add" href="<?php echo $this->url ?>/add/ " role="button"><?php echo $this->translate("Add Extension")?></a>
                
                <a class="btn btn-outline btn-add" href="<?php echo $this->url ?>/multiadd/ " role="button"><?php echo $this->translate("Add Multiple")?></a>

                <a class="btn btn-outline btn-add" href="<?php echo $this->url ?>/multiremove/ " role="button"><?php echo $this->translate("Remove Multiple")?></a>

                <div class="snep-body-search">
                    <?php if($this->key){ ?>
                        <a class='sn-dash-add' href="<?php echo $this->baseUrl ?>/default/index/index?dashboard_add=<?php echo $this->key ?>" title="<?php echo $this->translate('Add to dashboard');?>">
                        </a> 
                        &nbsp;|&nbsp;  
                    <?php } ?>
                    <?php echo $this->translate("Search")?> <input id="filter" type="text"/>
                </div>
            </div>

            <?php if ($this->error_message) {
                echo $this->action( 'sneperror', 'error', null, array( 'error_type' => 'alert', 
                'error_title' => $this->translate('Alert'), 'error_message' => $this->error_message, 'error_buttons' => False) );
            } else { ?>

                <table class="table demo table-bordered" data-filter="#filter" data-page-size="<?php echo $this->lineNumber?>">

                <thead>
                    <tr>
                        <th class="text-center" data-type="numeric" data-sort-initial="true"><?php echo $this->translate('Extension');?></th>
                        <th><?php echo $this->translate('Caller ID');?></th>
                        <th><?php echo $this->translate('Channel');?></th>
                        <th><?php echo $this->translate('Extension Group');?></th>
                        <th  class="text-center" colspan="2" data-sort-ignore="true"><?php echo $this->translate('Actions');?></th>
                    </tr>
                </thead>
                <tbody>

                    <?php foreach($this->extensions as $cha => $val ): ?>
                        
                        <tr>
                            <td class="text-center"> <b> <?php echo $val['exten'] ?> </b> </td>
                            <td> <?php echo $val['name'] ?> </td>
                            <td> <?php echo $val['channel'] ?> </td>
                            <td> <?php echo strtolower($val['group']) === 'all' ? $this->translate('All') : $val['group'] ?> </td>
                            <td  class="text-center">
                                <a class="btn btn-edit btn-xs" href='<?php echo $this->url ?>/edit/id/<?php echo $val['exten'] ?>' role="button"><?php echo $this->translate('Edit')?></a>
                            </td>
                            <td  class="text-center">
                                <a class="btn btn-danger btn-xs"  href='<?php echo $this->url ?>/remove/id/<?php echo $val['exten'] ?>'>
                                <?php echo $this->translate('Delete')?></a>    
                            </td> 
                        </tr>
                    <?php endforeach ?>
                </tbody>
                <tfoot>
                    <tr>

                        <td colspan="6">
                            <div class="paging">
                                <ul class="pagination"></ul>
                            </div>
                        </td>

                    </tr>
                </tfoot>
            </table>
        <?php } ?>
            
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery.noConflict();
    jQuery(function () {
        jQuery('table').footable().on('click', '.row', function(e) {
            e.preventDefault(); 
        });
    });
</script>




 

